<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'gaia.css' %}" rel="stylesheet">
    <title>Basic Django Project</title>
</head>

<body>
    <div class="container mx-auto p-4">
        <div class="navbar bg-base-300 rounded-lg mb-6">
            <div class="flex-1">
                <a class="btn btn-ghost normal-case text-xl">gaia</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <!--<li><a>Item 1</a></li>
                    <li tabindex="0">
                        <a>
                            Parent
                            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                            </svg>
                        </a>
                        <ul class="p-2 bg-base-100">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </li>-->
                    <li><a href="/ark/">Ark</a></li>
                </ul>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>